<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>main</servlet-name>
        <servlet-class>app.main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Access</servlet-name>
        <servlet-class>app.Access</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoLogin</servlet-name>
        <servlet-class>app.DoLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>app.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Administration_Main</servlet-name>
        <servlet-class>administration.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Perfil</servlet-name>
        <servlet-class>app.Perfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cambiarImagenPerfil</servlet-name>
        <servlet-class>app.cambiarImagenPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cambiarDatosDePerfil</servlet-name>
        <servlet-class>app.cambiarDatosDePerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Carrito</servlet-name>
        <servlet-class>app.Carrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCart</servlet-name>
        <servlet-class>app.addToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarPDF</servlet-name>
        <servlet-class>app.GenerarPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>realizarCompra</servlet-name>
        <servlet-class>app.realizarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mostrarCompra</servlet-name>
        <servlet-class>app.mostrarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>misCompras</servlet-name>
        <servlet-class>app.misCompras</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Access</servlet-name>
        <url-pattern>/access</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoLogin</servlet-name>
        <url-pattern>/doLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Administration_Main</servlet-name>
        <url-pattern>/administration/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Perfil</servlet-name>
        <url-pattern>/perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cambiarImagenPerfil</servlet-name>
        <url-pattern>/cambiarImagenPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cambiarDatosDePerfil</servlet-name>
        <url-pattern>/cambiarDatosDePerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Carrito</servlet-name>
        <url-pattern>/carrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCart</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarPDF</servlet-name>
        <url-pattern>/GenerarPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>realizarCompra</servlet-name>
        <url-pattern>/realizarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mostrarCompra</servlet-name>
        <url-pattern>/mostrarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>misCompras</servlet-name>
        <url-pattern>/misCompras</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
