/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 2, 2014, 10:47:39 PM
    Author     : Armando
*/

@import url('http://fonts.googleapis.com/css?family=Open+Sans');


#departmentContent{
    font-family:'Open Sans';
    overflow: hidden;
    padding: 25px;
}

#departmentContent table{
    text-align: center;
}