/* 
    Document   : perfil
    Created on : 30-mar-2014, 19:48:11
    Author     : rogeliotorres
    Description:
        Purpose of the stylesheet follows.
*/
#main_content {
    padding:0.4em;
}

#lines {
    float:left;
    width:220px;
}

#lines img {
    width:96%;
}

.line {
    overflow: hidden;
    padding:0.8em;
}

.left_container {
    float:left;
    min-width:150px;
    display:block;
    width:200px;
    background: #eee;
    font-family: verdana;
    font-size: 1em;
}

.rigth_container {
    float:leftt;
    width:150px;
    display:block;
    width:200px;
    font-family: arial;
    font-size: 0.9em;
}

.rigth_container input {
    display:none;
    width:97%;
}

#frm_cambiar_imagen {
    display:none;
}

#lbl_cambiar_imagen {
    font-family: arial;
    font-size: 0.8em;
} 

#btn_save {
    display: none;
}

button {
    border:1px solid #ccc;
    background: #36659e;
    border-radius: 6px;
    color:#eee;
    font-size: 0.9em;
    margin:5px 0;
}